.faqShell-index {
    margin: 20px auto;
    padding: 35px 35px;
    background: #fff;
    border: 1px solid #360051;
    min-height: 75px;
    box-shadow: 0px 0px 13px -2px #636363;
}

#accordion {
    min-height: 500px;
}

.customCard {
    margin: 30px 50px 30px 50px;
}

.lastCard {
    margin-bottom: 200px;
}

.customCard h4 {
    margin-bottom: 0px;
}

.faqButton {
    /* background-color: #C0C0C0; */
    background-color: #ccbadc;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    color: #383838;
    padding: 15px;

}
