/* General List Styling */
.list-overflow-container {
  max-height: 756px;
  border-radius: 0px;
  margin-top: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #bcbcca;
}
.list-overflow-container ul {
  margin: 0;
}
.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}
.list-overflow-container li:first-child {
  border-top: none;
  padding-top: 20px;
}
.list-overflow-container li:last-child {
  border-bottom: none;
}
li.list-group-item {
  padding-top: 15px;
  margin-right: 0px;
  border-radius: 0%;
  border-top: 2px solid #bcbcca;
}
a:hover {
  text-decoration: none;
}

/* Favorites Button */
.news-container {
  position: relative;
}
.favorite {
  position: absolute;
  top: 0;
  right: 0;
	width: 0;
	height: 0;
	border-top: 55px solid #8263C2;
	border-left: 65px solid transparent;
}
.non-favorite {
  position: absolute;
  top: 0;
  right: 0;
	width: 0;
  height: 0;
	border-top: 55px solid transparent;
	border-left: 65px solid transparent;
}
.tabbed {
  position: hidden;
}
.open {
  position: absolute;
  top: 10px;
  right: 7px;
  background: transparent;
  border: none;
  text-align: right;
  font-size: 24px;
}

/* News Story Details */
.news-img {
  margin: 0px auto;
  position: relative;
  height: 160px;
  width: 100%;
  position: cover;
  border: 1px solid #360051;
  box-shadow: 0px 0px 10px -2px #636363;
}
a .news-title {
  font-family: 'Lato', sans-serif;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 26px;
  color: black;
}
.news-title:hover {
  color: #11054F
}
.byline {
  color: #636363;
  box-shadow: 10px 10px 1px 15px #f5f4f5;
  font-size: 18px;
}
.news-author {
  float: left;
}
.news-date {
  float: right;
  margin-right: 15px;
  font-style: italic;
}
.clearfix {
  clear: both;
}
.news-bulk {
  margin-top: 15px;
}
.news-brief {
  padding-right: 0px;
  font-size: 17px;
}
a.news-link {
  color: rgb(146, 114, 50); 
}
a.news-link:hover {
  text-decoration: underline;
}
.news-activity {
  color: #636363;
  border-top: 1px solid #e0e0e0;
  font-size: 16px;
}
button.action-item {
  cursor: pointer;
  margin-top: 13px;
  background: none;
  border: none;
}
.comment {
  float: left;
}
.thumbs {
  float: right;
  margin-right: 5px;
  margin-left: 7px;
}
button.thumbs-up:enabled:hover,
button.liked:disabled {
  transform: scale(1.1);
  color: #389C6A;
}
button.thumbs-down:enabled:hover,
button.disliked:disabled{
  transform: scale(1.1);
  color: #9C3938;
}