.favorites-container {
    margin: 50px 15px;
    margin-bottom: 70px;
    position: relative;
    background: #f5f4f5;
    border: 2px solid #202020;
    box-shadow: 0px 0px 13px -1px #636363;
    width: 100%;
    height: 500px;
}
.favorites-data {
    position: absolute;
    background: white;
    padding-left: 0px;
    margin-top: 50px;
    margin-left:-16px;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 500px;
    width: 100%;
    border: 1px solid #202020; 
    box-shadow: 0px 0px 13px -1px #636363;
}
.favorites-data::-webkit-scrollbar {
    display: none; 
}
.default-favorites {
    text-align: center;
    padding: 30px 20px;
}
.favorites-title {
    width: 70%;
    margin: 10px auto 15px;
    padding: 50px 20px;
    border-bottom: 5px solid #63C2C2;
    font-family: 'Lato', sans-serif;
}
.favorites-tip {
    color: #636363;
}

/* Sidebar Styling */
.sidenav {
    height: 100%;
    width: 151px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background: #360051;
    overflow-x: hidden;
}
.sidenav-list {
    list-style: none;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}
.sidenav-list-item {
    padding-top: 25px;
    height: 123px;
    width: 100%;
    font-size: 55px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    color: #f5f4f5;
    box-sizing: border-box;
}
.sidenav-list-item:first-child,
.sidenav-list-item:last-child {
    height: 125px;
}
.sidenav-list-item:hover {
    background: #f5f4f5;
    color: #360051;
}
.current-fave {
    background: #f5f4f5;
    color: #360051;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}