.teamPage {
    background: white;
    box-shadow: 0px 0px 12px 1px #202020;
}
.teamWork {
    font-size: 60px;
    width: 90%;
    margin: 15px auto;
    margin-bottom: 25px;
    padding: 25px 0px;
    border-bottom: 0.5px solid silver;
}
.teamBlurb {
    float: right;
    font-size: 16px;
    text-align: right;
    margin-right: 10px;
    color: #8263C2;
}
.teamRow {
    width: 100%;
    margin: 5px auto;
    padding: 5px 40px;
}
.teamRow:last-child {
    padding-bottom: 115px;
}
.memberSnapshot {
    width: 70%;
    margin: 20px;
    padding-left: 10px;
}
.memberName {
    font-size: 20px;
    font-style: italic;
}
.memberTitle {
    color: darkgrey;
    text-transform: uppercase;
}
.memberImage {
    width: 20%;
    margin: 20px;
    height: auto;
    border-radius: 50%;
    border: 0.75px solid ghostwhite;
    box-shadow: 1px 1px 21px -3px slategray;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.memberBio {
    margin-bottom: 10px;
}
.link-divider {
    border: none;
    height: 1px;
    width: 450px;
    background: #8263C2;
    margin: 0px;
    margin: 10px 0px 7px;
}
.memberSites {
    padding: 0px 2px;
    font-family: 'Lato', sans-serif;
}
.site-icons {
    font-size: 14px;
    width: 23px;
    box-sizing: border-box;
    color: #202020;
}
.site-icons:hover {
    color: #0056b3;
    transform: scale(1.1);
}
.memberPortfolio {
    text-transform: lowercase;
    font-weight: 700;
    font-size: 14px;
    color: #202020;
    margin-left: 3px;
}