.landing-login {
    background-image: url("landing.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    padding: 50px;
    margin-top: -60px;
    height: 1200px;
    overflow-y: hidden;
}
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 550px;
    margin-top: -275px;
    margin-left: -250px;
    background: #360051;
    border: 1px solid #fff;
    box-shadow: 0px 0px 24px 2px black;
}
.login-greeting {
    color: #fff;
    text-align: center;
    margin: 35px auto;
}
.light {
    font-weight: 100;
}
.heavy {
    font-weight: 900;
}
.login-info {
    color: #fff;
    margin: 15px auto;
    text-align: center;
}
.login-info-title {
    text-align: center;
    font-size: 22px;
    border-top: 1px solid #d1b2e0;
    padding-top: 15px;
    width: 70%;
    margin: 0px auto;
    margin-top: -20px;
}
.list-perks {
    list-style: none;
    font-size: 18px;
    margin: 25px auto 40px;
}
.list-perks-item {
    font-weight: 100;
    margin-bottom: 5px;
    margin-left: 45px;
    text-align: left;
}
.login-icon {
    margin-right: 20px;
    color: #d1b2e0;
}
.login-button {
    color: black;
}