.eventsBox {
    margin-top: 15px;
    margin-bottom: 50px;
    background: #f5f4f5;
    border: 1px solid #360051;
    box-shadow: 0px 0px 13px -3px #636363;
    width: 100%;
    max-height: 445px;
    overflow-y: scroll;
}
.eventsTodayList {
    list-style: none;
    margin: 0px;
}
a.eventsToday {
    color: black;
}
a.eventsToday:hover {
    cursor: pointer;
}
a.eventsToday:hover .eventLink {
    color: #5174ba;
}
.calEventTitle {
    color: black;
    padding: 10px;
    margin-bottom: 0px;
}
.alternate {
    border-top: 1px solid #636363;
    border-bottom: 1px solid #636363;
}
.calEventTitle:last-child {
    border-bottom: none;
}
.calEventBorder {
    font-size: 16px;
    font-weight: 700;
    color: #360051;
}