.contactHead {
    height: 382px;
    margin: 80px 0px;
    background: #360051;
    border: 1px solid ghostwhite;
    box-shadow: 0px 0px 21px -2px slategray;
    box-sizing: border-box;
}
.LContactPage {
    margin: 80px 0px 160px;
    height: 382px;
    border: 1px solid ghostwhite;
    box-shadow: 0px 0px 21px -2px slategray;
    box-sizing: border-box;
}
.contactTitle {
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.contactTitle h3 {
    padding-top: 30px;
}
.contactForm {
    margin-top: 30px;
    transition: all 4s ease-in-out;
}
.form-control {
    width: 400px;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 16px;
}
form .submitContactForm {
    /* background: #ff5722; */
    border-color: transparent;
    color: black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    height: 50px;
    margin-top: 20px;
    margin-right: 70px;
    background: rgb(223, 222, 222);
    width: 150px;
    float: right;
}
form .submitContactForm:hover {
    cursor: pointer;
    color: #5174ba;
}

form .submitContactForm:hover:disabled {
    cursor: not-allowed;
}

.contactFormError{
    color: red;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

