.contactHead {
    min-height: 381px;
    margin: 79px 0px;
    /* background: linear-gradient(rgba(0,0,150,0.5), rgba(0,0,50,0.5)); */
    background: #350050;
    font-family: sans-serif;
}

.LContactPage {
    background-image: url('./contactPic2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 80px;
    padding-bottom: 528px;
}

.contactTitle {
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.contactTitle h3 {
    padding-top: 30px;
}

.contactForm {
    margin-top: 30px;
    transition: all 4s ease-in-out;
}

.form-control {
    width: 400px;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
    margin: 0 auto;
    margin-bottom: 16px;
}

form .submitContactForm {
    /* background: #ff5722; */
    border-color: transparent;
    color: black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    height: 50px;
    margin-top: 20px;
}

form .submitContactForm:hover {
    cursor: pointer;
}
