::-webkit-scrollbar {
    width: 3px;
    display: none;
    background: transparent;  
}
::-webkit-scrollbar-thumb {
    background: #64c2c2;
}
.ChatUserBar {
    background: rgb(68,71,83);
    height: 600px;
    margin-top: 50px;
    width: 100%;
}
.chatBarUL {
    list-style-type: none;
    height: 100%;
    margin-top: 0;
    padding: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
}

/* Chat User */
.paddingFix {
    padding: 0;
}
.chatRow {
    margin: 0;
}
.chatUser,
.selectedChatUser {
    height: 80px;
    width: 100%;
    display: inherit;
    margin: 0px auto;
    padding: 1px 10px 0px 30px;
    line-height: 80px;
    box-sizing: content-box;
}
.selectedChatUser {
    background: #7979d2;
    cursor: default;
}
.selectedChatUser img {
    box-shadow: 0px 0px 8px 0px #3c3e49;
}
.chatUser:hover {
    background: slateblue;
    cursor: pointer;
}
.chatImage {
    border-radius: 20px;
    height: 60px;
    margin-left: 15px;
}
.userInfo {
    margin-left: -15px;
}
.chatName {
    color: white;
    font-size: 22px;
    line-height: 23px;
    vertical-align: middle;
    display: inline-block;
}
.chatDate {
    color: white;
}

/* unread Style: */
.unreadMessage {
    background: #9ad8ca;
    font-size: 22px;
    line-height: 23px;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
    text-align: center;
}

/* Media Queries */ 
@media screen and (max-width: 1200px) {
    .chatUser,
    .selectedChatUser {
        padding: 1px 5px 0px 15px;
    }
    .chatImage {
        border-radius: 20px;
        height: 60px;
        margin-left: 15px;
    }
    .userInfo {
        margin-left: -10px;
    }
}
@media screen and (max-width: 1000px) {
    .chatUser,
    .selectedChatUser {
        padding: 1px 0px 0px 8px;
    }
    .chatImage {
        border-radius: 20px;
        height: 60px;
        margin-left: 15px;
    }
    .userInfo {
        margin-left: 0px;
    }
}