.ChatUserBar {
    background: rgb(68,71,83);
    border: 1px solid black;
    height: 600px;
    margin-top: 50px;
    width: 100%;
}
.chatBarUL {
    list-style-type: none;
    height: 100%
}



/* Chat User */
.paddingFix {
    padding: 0;
}
.chatRow {
    margin: 0;
}
.ChatUser {
    height: 90px;
    width: 100%;
    display: inherit;
    margin-left: 16px;
    margin-bottom: 5px;
    padding-top: 8px;
}
.ChatUser:hover {
    background: lightblue;
}
.chatImage {
    border-radius: 20px;
    width: 75px;
    margin-left: 10px;
}
.userInfo {
    padding-left: 8px;
    margin-top: 8px;
}
.chatName {
    color: white
}
.chatDate {
    color: white;
}

/* unread Style: */
.unread {
    background: #9ad8ca;
}