.ChatUserBar {
    background: rgb(68,71,83);
    border: 1px solid black;
    height: 600px;
    margin-top: 50px;
    width: 100%;
}
.chatBarUL {
    list-style-type: none;
    height: 100%
}



/* Chat User */
.paddingFix {
    padding: 0;
}
.chatRow {
    margin: 0;
}
.chatUser {
    min-height: 90px;
    width: 90%;
    display: inherit;
    margin: 0 auto;
    margin-bottom: 5px;
    padding-top: 8px;
}
.selectedChatUser {
    min-height: 90px;
    width: 90%;
    display: inherit;
    margin: 0 auto;
    margin-bottom: 5px;
    padding-top: 8px;
    background: lightblue;
}

.selectedChatUser {
    min-height: 90px;
    width: 90%;
    display: inherit;
    margin: 0 auto;
    margin-bottom: 5px;
    padding-top: 8px;
    background: lightblue;
}

.chatUser:hover {
    background: lightblue;
}
.chatImage {
    border-radius: 20px;
    width: 60px;
    margin-left: 10px;
}
.userInfo {
    padding-left: 8px;
    margin-top: 8px;
}
.chatName {
    color: white;
    font-size: 28px;
    line-height: 23px;
}
.chatDate {
    color: white;
}

/* unread Style: */
.unreadMessage {
    background: #9ad8ca;
    margin-right: 5px;
}