.customMainNav {
    background-color: #360051;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 25px;
    height: 60px;
    font-size: 18px;
}
img.mainNavLogo {
    padding-top: 15px;
}
.navbar .navbar-collapse {
    text-align: center;
}
.dropdown-menu {
    text-align: center;
}
.mainNavLogo {
    width: 75px;
}
.mainNavSearch {
    padding-left: 40px;
}
.mainSearchInput {
    border-radius:15px;
    -moz-border-radius:15px; 
    -webkit-border-radius:15px; 
    padding:6px 15px 6px 30px;
    margin:3px;  
}
a.page-navs {
    margin-right: 20px;
}
.customNavDropdown:link {
    color: black;
}
.navbar-dark .navbar-nav .nav-link {
    color: #f5f4f5;
}

@media only screen and (max-width: 600px) {
    .customMainNav {
        padding-left: 20px;
        padding-right: 20px;
    }
    .mainNavSearch {
        padding-left: 5px;
    }

}
