/* General List Styling */
.list-overflow-container {
  max-height: 756px;
  border-radius: 0px;
  overflow-y: scroll;
}
.list-overflow-container ul {
  margin: 0;
}
.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}
.list-overflow-container li:first-child {
  padding-top: 20px;
  border-top: none;
}
.list-overflow-container li:last-child {
  border-bottom: none;
}
li.list-group-item {
  padding-top: 15px;
  margin-right: 0px;
  border-radius: 0%;
}
a:hover {
  text-decoration: none;
}

/* Event Details */
a .event-title {
  font-family: 'Lato', sans-serif;
  padding-top: 5px;
  padding-bottom: 7px;
  font-weight: 700;
  color: black;
  border-bottom: 1px solid #b9b8b9;
}
.event-title:hover {
  color: #389C9C;
}
.fa-calendar {
  font-size: 18px;
}
.hosted-by {
  font-style: italic;
}
.bk-light {
  background: #f8f8f8;
}
.bk-dark {
  background: #bcbcca52;
}
.bk-dark a .event-title {
  border-bottom: 1px solid #fff;
}

/* Category Buttons */
.category-btn {
  float: right;
  padding: 5px;
  margin-left: 5px;
  background: #f5f4f5;
  font-size: 12px;
}
.category-btn:hover,
.category-btn:active {
  transform: scale(1.1);
  font-weight: 700;
  color: #660099;
}
.clearfix {
  clear: both;
}