.ChatMessageArea {
    margin-bottom: 50px;
    border: 1px solid black;
    height: 340px;
    background: rgba(242,245,248,0.6);
    border-top: 0;
    margin-bottom: 0;
}
.chatUL {
    list-style-type: none;
    height: 340px; 
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0;
    margin-bottom: 0; 
}
.chatMessage {
    text-align: center;
    padding: 20px 30px;
}

.selectUserDiv {
    background: rgba(54,0,81,0.5);
    box-shadow: 0px 0px 13px -1px #636363;
    font-size: 30px;
    text-align: center;
    width: 60%;
    height: 440px;
    position: absolute;
    top: 15%;
    left: 20%;
    color: white;
    padding: 50px;
}

.selectUserDiv p {
    position: relative;
    top: 32%;
    line-height: 50px;
}

/* current chat area */
.CurrentChatHeader {
    background: rgb(242,245,248);
    margin-top:50px; 
    width: 100%;
    height: 100px;
    line-height: 100px;
    border: 1px solid black;
    border-bottom: none;
    text-align: center;
    border-left: 0;
}
.noSelectedUser {
    line-height: 100px;
    color: rgba(242,245,248);
}
.currentChatImage {
    margin-right: 10px;
    width: 85px;
    border-radius: 20px;
}
.currentName {
    display: inline;
    vertical-align: middle;
}


/* Single Chat Messages */
.senderChatName {
    display: inherit;
    margin-left: 30px;
    font-size: 20px;
    margin-bottom: 0;
}
.chatBubble {
    background: rgba(100,194,194,0.7);
    color: white;
    padding: 7px 8px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    max-width: 70%;
    min-width: 150px;
    position: relative;
    margin-left: 20px;
}
.meChatSent {
    width: 100%;
    display: block;
    padding-left: 30px;
    float: right;
}
.meChatName {
    display: block;
    margin-right: 30px;
    float: right;
    width: 100%;
    text-align: right;
    font-size: 20px;
    margin-bottom: 0;
}
.myChatBubble {
    background: rgba(131,35,123,0.7);
    color: white;
    padding: 7px 8px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    max-width: 70%;
    min-width: 150px;
    text-align: center;
    position: relative;
    margin-right: 20px;
    float: right;
}

.meChat {
    text-align: justify
}
.meMessageDate {
    position: absolute;
    bottom: 0;
    left: 10px;
    display: block;
    color: #00000082;
    margin-top: 10px;
}
.senderMessageDate {
    position: absolute;
    bottom: 0;
    right: 10px;
    display: block;
    color: #00000082;
    margin-top: 10px;
}
.senderChat {
    text-align: justify
}

/* chat footer */
.ChatMessageFooter {
    background: rgb(242,245,248);
    padding: 22px;
    margin-bottom:80px; 
    border: 1px solid black;
    border-top: none;
    height: 160px;
    border-left: 0;
}
.messageToSend {
    width: 100%;
    height: 80px;
    border: none;
    padding: 4px 4px;
    font: 14px/22px "Lato", Arial, sans-serif;
    border-radius: 5px;
}
.chatSendBtn {
    float: right;
    width: 80px;
    height: 40px;
    background: rgb(54,0,81);
    color: white;
}
