.ChatMessageArea {
    margin-bottom: 50px;
    border: 1px solid black;
    height: 400px;
    background: rgb(242,245,248);
    border-top: 0;
    margin-bottom: 0;
}
.chatUL {
    list-style-type: none;
    height: 430px;
    border-bottom: 5px solid white; 
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0;
    margin-bottom: 0; 
}
.chatMessage {
    text-align: center;
    padding: 20px 30px;
}


/* current chat area */
.CurrentChatHeader {
    background: rgb(242,245,248);
    margin-top:50px; 
    width: 100%;
    height: 100px;
    line-height: 100px;
    border: 1px solid black;
    border-bottom: 5px solid white;
    text-align: center;
}
.CurrentChatHeader img {
    margin-right: 10px;
    margin-bottom: 5px;
    width: 85px;
}
.currentName {
    display: inline;
    vertical-align: middle;
}


/* Single Chat Messages */
.senderChatName {
    display: inherit;
    margin-left: 30px;
}
.chatBubble {
    background: #22af61;
    color: white;
    padding: 7px 8px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 70%;
    position: relative;
    margin-left: 20px;
}
.meChatSent {
    width: 100%;
    display: inherit;
    padding-left: 30px;
    float: right;
}
.meChatName {
    display: inherit;
    margin-right: 30px;
    float: right;
    width: 100%;
    text-align: right;
}
.myChatBubble {
    background: #21b3b3;
    color: white;
    padding: 7px 8px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 70%;
    position: relative;
    margin-right: 20px;
    float: right;
}

/* chat footer */
.ChatMessageFooter {
    background: rgb(242,245,248);
    padding: 22px;
    margin-bottom:80px; 
    border: 1px solid black;
    border-top: none;
    height: 100px;
}
.messageToSend {
    width: 90%;
    border: none;
    padding: 4px 4px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
}
.chatSendBtn {
    float: right;
    width: 9%;
    height: 88%;
    background: rgb(54,0,81);
    color: white;
}