/* Main Question Section */
.forumMain-container {
    overflow-x: hidden;
    background: #fff;
    border: 1px solid #360051;
    box-shadow: 0px 0px 13px -2px #636363;
    margin: 50px auto;
    padding: 15px 10px;
    box-sizing: content-box;
    position: relative;
}
.forumMain-question {
    margin: 0px auto 30px;
}
.forumFave {
    position: absolute;
    top: -15px;
    right: 25px;
    font-size: 60px;
}
.forumMain-title {
    font-family: 'Lato', sans-serif;
    padding: 15px 15px 0px;
    font-weight: 700;
    font-size: 22px;
    color: black;
}
.forumMain-byline {
    color: #636363;
    padding: 0px 15px 15px;
    font-size: 18px;
}
.add-forumComment {
    padding: 0px 15px 5px;
    margin: 35px auto;
    width: 100%;
    text-align: center;
}
.return-forumIndex,
.forumComment-button {
    padding: 10px 25px;
    color: #360051;
    border-radius: 5px;
    border: 1px solid #360051;
    box-shadow: 0px 0px 10px -2px #858484;
    font-family: 'Lato', sans-serif;
}
.return-forumIndex:hover,
.forumComment-button:hover {
    color: #fff;
    background: #360051;
    border: 1px solid #fff;
    box-shadow: 0px 0px 15px -1px black;
    cursor: pointer;
}
.or-divider {
    margin: 0px 15px;
}
.forumMain-body {
    margin: 15px;
    padding: 15px;
    background: #d1d1ed;
    font-size: 17px;
}

/* Comments Section */
.votingArea {
    text-align: center;
    font-size: 30px;
    position: relative;
    height: 75px;
    margin: 0px 15px 25px 25px;
}
.fa-sort-up,
.fa-sort-down {
    position: absolute;
    left: 42%;
    z-index: 400;
    cursor: pointer;
}
.fa-sort-up {
    top: 0;
}
.fa-sort-down {
    bottom: 0;
}
.neutralVotes,
.positiveVotes,
.negativeVotes {
    position: absolute;
    top: 18%;
    z-index: 100;
}
.neutralVotes {
    color: black;
}
.positiveVotes {
    color: #389C6A;
}
.negativeVotes {
    color: #9C3938;
}
.forumComment-details {
    padding: 0px 0px 25px 15px;
}
.forumComment-author {
    font-size: 16px;
    margin: 0px;
}
.forumComment-date {
    font-size: 16px;
    margin: 0px auto 10px;
    font-style: italic;
}
.forumComment-solution {
    background: papayawhip; 
    padding: 15px;
    font-size: 17px;
}