/* Job Functionality Header */
.job-headerRow{
  margin: 1px 0px;
  padding: 25px 15px;
  background: #360051;
  color: #f8f8f8;
  border-top: 1px auto #f8f8f8;
}
.job-button {
    color: black;
    display: inline;
    margin: 0px auto;
    background: rgb(238, 238, 238);
    background-color: #D1D2EC;
    border: 1px solid black;
    border-radius: 3px;
    display: inline-block;
    margin: 5px;
    padding: 7px 15px;
    box-shadow: white 0px 0px 1px 1px;
}
.job-button:hover {
    cursor: pointer;
    color: #5174ba;
}
.resource-button {
  margin: 10px auto;
  color: #f8f8f8
}
.resource-button:hover {
  color: #d1b2e0;
}
.jobHead-icons {
  margin: 0px 5px;
}

/* General List Styling */
.list-overflow-container {
  max-height: 756px;
  border-radius: 0px;
  overflow-y: scroll;
}
.list-overflow-container::-webkit-scrollbar {
  width: 3px;
  background: transparent;  
}
.list-overflow-container::-webkit-scrollbar-thumb {
  background: #64c2c2;
}
.list-overflow-container ul {
  margin: 0;
}
.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}
.list-overflow-container li:first-child {
  padding-top: 20px;
  border-top: none;
}
.list-overflow-container li:last-child {
  border-bottom: none;
}
li.list-group-item {
  padding-top: 15px;
  margin-right: 0px;
  border-radius: 0%;
}
a:hover {
  text-decoration: none;
}
.bk-light {
  background: #f8f8f8;
}
.bk-dark {
  background: #bcbcca52;
}
.bk-dark a .event-title {
  border-bottom: 1px solid #fff;
}

/* Job Postings Section */
.job-container {
  position: relative;
}
.job-title,
a.job-link {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: black;
  margin-bottom: 5px;
}
a.job-link:hover {
  color: #389C9C;
  text-decoration: underline;
}
.job-summary {
  font-size: 18px;
}
.job-postDate {
  margin-bottom: 15px;
}
.job-apply {
  border: 1px solid black;
  text-align: center;
  margin: 5px auto;
  padding: 5px;
  width: 80%;
  color: black;
  background: rgb(238, 238, 238);
  background-color: #D1D2EC;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: white 0px 0px 1px 1px;
}
.mult-job-btns {
  margin: 0px auto;
}
a.jobAction-icons,
.jobAction-icons {
  margin: 0px 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 13px;
  background: none;
  border: none;
  width: 20%;
}
.jobAction-icons:hover {
  color: #7979d2;
  font-weight: 900;
}