.center {
    margin: 30px auto;
    text-align: center;
}
.riri {
    width: 80%;
}

#jobDescInput{
    width: 500px;
}

#job-button {
    color: black;
    display: inline;
    margin: 0px auto;
    background: rgb(238, 238, 238);
    border: 1px solid black;
    border-radius: 3px;
    display: inline-block;
    margin: 5px;
    padding: 7px 15px;
    box-shadow: white 0px 0px 1px 1px;
}

#job-button:hover {
    cursor: pointer;
    color: #5174ba;
}

#jobHeader{
    font-family: 'Lato', sans-serif;
    margin: 5px;
}

/* General List Styling */
.list-overflow-container {
  max-height: 756px;
  border-radius: 0px;
  overflow-y: scroll;
}
.list-overflow-container ul {
  margin: 0;
}
.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
}
.list-overflow-container li:first-child {
  padding-top: 20px;
  border-top: none;
}
.list-overflow-container li:last-child {
  border-bottom: none;
}
li.list-group-item {
  padding-top: 15px;
  margin-right: 0px;
  border-radius: 0%;
}
a:hover {
  text-decoration: none;
}

/* Favorites Button */
.job-container {
  position: relative;
  border-bottom: 1px solid #b9b8b9;
}

.favorite {
  position: absolute;
  top: 0;
  right: 0;
	width: 0;
	height: 0;
	border-top: 55px solid #8263C2;
	border-left: 65px solid transparent;
}
.non-favorite {
  position: absolute;
  top: 0;
  right: 0;
	width: 0;
  height: 0;
	border-top: 55px solid transparent;
	border-left: 65px solid transparent;
}
.tabbed {
  position: hidden;
}
.open {
  position: absolute;
  top: 10px;
  right: 7px;
  background: transparent;
  border: none;
  text-align: right;
  font-size: 24px;
}

/* job Details */
a .job-title {
  font-family: 'Lato', sans-serif;
  padding-left: 15px;
  font-weight: 700;
  color: black;
}
.job-title:hover {
  color: #389C9C;
  text-decoration: underline;
}
.fa-calendar {
  font-size: 18px;
}
.job-summary-text {
  font-style: italic;
  padding-left: 15px;
  padding-top: 10px;
}
.bk-light {
  background: #f8f8f8;
}
.bk-dark {
  background: #bcbcca52;
}
.bk-dark a .event-title {
  border-bottom: 1px solid #fff;
}

/*job summary*/
.job-summary{
  font-family: 'Lato', sans-serif;
  padding-top: 5px;
  padding-left: 15px;
  font-weight: 700;
  color: black;
}

/* Category Buttons */
.category-btn {
  float: right;
  padding: 5px;
  margin-left: 5px;
  background: #f5f4f5;
  font-size: 12px;
}
.category-btn:hover,
.category-btn:active {
  transform: scale(1.1);
}
.clearfix {
  clear: both;
}


iframe{
    height: 900px;
    width: 1350px;
}


.jobPreview {
  cursor:default;
  display:inline-block;
  width: 100%;
  border:2px solid #ddd;
  border-radius:3px;
  font-size:18px;
  margin-top:12px;
}

  .jobPreview:hover .iframe-preview {
    opacity:1;
    transform: translateX(-179%) translateY(330%) scale(4);
    z-index: 5;
  }
  
  .jobPreview:hover {
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
    border-color: #333;
  }



.iframe-preview {
  transition:.2s ease-in-out opacity, .2s ease-in-out transform;
  opacity:0;
  position:absolute;
  bottom: 110%;
  left:70%;
  box-shadow:0 1px 5px rgba(0,0,0,.5);
  width:150px;
  padding-right: 30px;
  height:90px;
  border:4px solid #fff;
  overflow-x:hidden;
  overflow-y:hidden;
  transform-origin:center bottom;
  transform: translateX(-50%) translateY(10px) scale(.9);
}

  iframe {
    transform:scale(.1);
    transform-origin:0 0;
  }


